body {
    background-color: rgb(2, 146, 7);
    color: rgb(65, 226, 132);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
display: flex;
     justify-content: center;
     align-items: center;
     height: 700px;
     margin: 0%;
}

button { 
    background-color: palegoldenrod;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.passo {
    display: flex;
}
